*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: Rubik;
  src: url(../../assets/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../../assets/Poppins/Poppins-Medium.ttf);
}


/* side-section */
.box{
  display: flex;
  flex-direction: row;
}
.side-auth {
  flex: 1;
}

.side-imgauth {
  width: auto;
  height: 1628px;
}

/* main-section */
.main-headerauth {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/*logo */
.headerauth {
  display: flex;
  font-family: Rubik;
}

.logo-imgauth {
  width: 30px;
  height: 33px;
  margin-left: 50px;
  margin-top: 55px;
}

.main-header-titleauth {
  font-family: Rubik;
  font-weight: 700;
  font-size: 20px;
  color: rgba(11, 19, 42, 1);
  margin-top: 60px;
  margin-left: 20px;
}

/* header title */
.title-textauth {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: rgba(106, 64, 41, 1);
  margin-top: 50px;
  margin-left: 280px;
  text-align: right;
  padding-right: 50px;
}

/* form */
.formauth {
  grid-column: 1/3;
}

.form-containerauth {
  padding-left: 100px;
  padding-right: 100px;
}

.label-input-auth{
  font-size: 20px;
  font-weight: 700;
  line-height: 23.7px;
  color: rgba(79, 86, 101, 1);
  margin-bottom: 13px;
  }

.auth-input-text,
.auth-input-password,
.register-submit {
  width: 100%;
  height: 75px;
  border-radius: 20px;
  margin-bottom: 32px;
}

.auth-input-text,
.auth-input-password{
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  padding-left: 30px;
}
.check-pass{  
  font-size: 16px;
  font-weight: 400;
  line-height: 23.7px;
  margin-bottom: 10px;
  color: rgba(79, 86, 101, 1);
}
.pass-icon {
  width: 35px;
  height: 35px;
}

.inside {
  margin-top: 32px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(79, 86, 101, 1);
}

.form-inputauth {
  background: #ffffff;
  border: 1px solid rgba(79, 86, 101, 1);
  color: rgba(159, 159, 159, 1);
  height: 75px;
  border-radius: 20px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

.btn-signup {
  border: none;
  background: rgba(255, 186, 51, 1);
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  border-radius: 20px;
  font-family: Rubik;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  height: 75px;
  color: rgba(106, 64, 41, 1);
  margin-top: 30px;
  width: 100%;
}

.btn-signup:hover {
  background: rgb(252, 180, 36);
}

.btn-google {
  border: none;
  box-shadow: 0px 6px 20px 0px rgba(196, 196, 196, 0.67);
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  font-family: Poppins;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  height: 75px;
  color: rgba(106, 64, 41, 1);
  margin-top: 30px;
  width: 100%;
}

.btn-google:hover {
  background: rgb(240, 239, 239);
}

.img-google {
  width: 30px;
  height: 30px;
}

.btn-login {
  border: none;
  background: rgba(106, 64, 41, 1);
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.63);
  border-radius: 20px;
  font-family: Rubik;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  height: 75px;
  color: white;
  margin-top: 30px;
  text-decoration: none;
  width: 100%;
}

.btn-login:hover {
  background: rgb(139, 90, 63);
}

.has-accountauth {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding-top: 30px;
}

.has-account-textauth {
  flex: 2;
  font-family: Rubik;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  top: 7px;
  line-height: 30px;
  text-align: center;
  color: rgba(159, 159, 159, 1);
  ;
}

.underlineauth {
  flex: 1;
  height: 1px;
  border: 2px solid rgba(159, 159, 159, 1);
  ;
}

.logo-img2auth {
  width: 33px;
  height: 33px;
  margin-left: 50px;
  margin-top: 65px;
}

.logo-textauth {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 70px;
  margin-left: 20px;
}

.side-infoauth {
  grid-column: 1/3;
  display: flex;
  background: rgba(248, 248, 248, 1);
  width: 100%;
}

.left-infoauth {
  flex: 1;
  padding-top: 25px;
  padding-left: 5px;
}

.headauth {
  display: flex;
}

.left-textauth {
  font-family: Rubik;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgba(79, 86, 101, 1);
  margin-left: 50px;
  margin-top: 25px;
}

.sosmedauth {
  display: flex;
  margin-left: 50px;
}

.sosmed-iconauth {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.sosmed-imgauth {
  height: 33px;
  width: 33px;
}

.left-footerauth {
  padding-top: 20px;
  padding-left: 50px;
}

.footer-textauth {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(175, 181, 192, 1);
}

.right-infoauth {
  flex: 1;
  padding-top: 0;
  width: 100%;
}

.bodyauth {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
}

.right-text-head {
  grid-column: 1/3;
  font-family: Rubik;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: rgba(11, 19, 42, 1);
  margin-top: 50px;
}

.right-text {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(79, 86, 101, 1);
  margin-top: 10px;
}

/* responsive tablet */
@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .side-img {
    max-height: auto;
    height: 100%;
  }

  .main-header {
    height: auto;
    grid-template-columns: auto auto;
    grid-template-rows: 150px auto auto;
    padding-bottom: 150px;
    background: rgba(248, 248, 248, 1);
  }

  .header {
    background: rgba(248, 248, 248, 1);
  }

  .main-header-title {
    background: rgba(248, 248, 248, 1);
    margin-top: 45px;
  }

  .logo-img {
    margin-left: 40px;
    margin-top: 40px;
  }

   .title-text {
    margin-top: 40.12px;
    text-align: center;
    margin-left: 150px;
  }

  .form {
    background-color: white;
    padding-bottom: 50px;
  }

  .form-container {
    padding-left: 50px;
  }

  .inside {
    font-size: 18px;
    margin-top: 20px;
  }

  .form-input {
    font-size: 18px;
    height: 65px;
    border-radius: 18px;
  }

  .btn-sign {
    font-size: 18px;
    height: 65px;
    border-radius: 18px;
    margin-top: 37px;
  }

  .btn-google {
    font-size: 16px;
    height: 65px;
    border-radius: 18px;
    margin-top: 27px;
  }

  .img-google {
    max-width: 17px;
    max-height: 18px;
  }

  .btn-login {
    font-size: 18px;
    height: 65px;
    border-radius: 18px;
    margin-top: 32px;
  }

  .has-account-text {
    font-size: 15px;
    flex: 2;
  }

  .underline {
    border: 1px solid #c4c4c4;
  }

  .side-info {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    column-gap: 5%;
    padding-top: 50px;
  }

  .left-info {
    flex: 1;
    padding: 40px;
    padding-top: 35px;
  }

  .head {
    display: flex;
    margin-left: 40px;
  }

  .left-text {
    margin-left:30px;
  }

  .logo-img2 {
    margin-left: 0px;
  }

  .sosmed-icon {
    margin-left: 0px;
    margin-right: 20px;
  }

  .left-footer{
    padding-top: 20px;
    padding-left: 30px;
  }

  .right-info {
    flex: 1;
    padding-top: 10px;
    padding: 30px;
  }

  .body {
    margin-top: 0;
  }
}



/* responsive mobile */

/* responsive mobile small resolution */
@media only screen and (max-width: 425px) {
  .side-imgauth {
    display: none;
  }

  .main-headerauth {
    flex: 1;
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }

  .headauth {
    grid-column: 1/3;
  }

  .main-header-titleauth {
    display: flex;
    grid-column: 1/3;
    justify-content: center;
    width: 100%;
  }

  .title-textauth {
    text-align: center;
  }
}