*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: Rubik;
  src: url(../../assets/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../../assets/Poppins/Poppins-Medium.ttf);
}

.global-container{
  display: flex;
  flex-direction: row;
  padding: 0%;
}
.side-fp{
  display: flex;
  flex-direction: column;
}
.side-imgfp{
  width: 100%;
  height: 1628px;
  margin-right: 0%;
}
.main-fp{
  width: 50%;
  height:auto;
}
.content-fp{
  justify-content: center;
  text-align: center;
  height: 70%;
}
.header-fp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 10%;
}
.logo-imgfp{
  width: 30px;
  height: 33px
}
.main-header-titlefp{
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 20px;
}
.titlefp h1{
  font-size: 52px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 78px;
  margin: 0%;
  padding-bottom: 2%;
}
.titlefp p{
  font-size: 27px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 40px;
  margin: 0%;
}
.forgot-form{
  padding-top: 15%;
}
.input-fp{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 20px;
  padding: 5%;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 90%;
}  
.send-fp{
  background: rgba(255, 186, 51, 1);
  box-shadow: 0px 6px 20px 0px rgba(255, 186, 51, 0.4);
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  border: none;
  border-radius: 20px;
  width: 90%;
  margin-top: 10%;
  color: rgba(106, 64, 41, 1);
  padding: 3%;
}
.info-fp{
  padding-top: 10%;
}
.info-fp h1{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-fp p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}   
.resend-fp{
  background: rgba(106, 64, 41, 1);
  box-shadow: 0px 6px 20px 0px rgba(106, 64, 41, 0.4);
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  border: none;
  border-radius: 20px;
  width: 90%;
  margin-top: 10%;
  color: white;
  padding: 3%;
}        
.footer-fp{
  justify-content: left;
  background: rgba(248, 248, 248, 1);
  height: 30%;
  display: flex;
  flex-direction: row;
}
.footer-left-fp{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
.title-botfp{
  display: flex;
  flex-direction: row;
  padding-top: 40%;
}
.title-botfp img{
  width: 30px;
  height: 33px;
}
.title-botfp p{
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 20px;
}
.about-textfp{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(79, 86, 101, 1);
}
.social-mediafp{
  padding-top: 5%;
  padding-bottom: 5%;
}
.watermarkfp{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(175, 181, 192, 1);
}
.footer-right-fp{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}
.product-listfp{
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  color: rgba(11, 19, 42, 1);
}
.productfp{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400; 
  color: rgb(152, 156, 163);
}

@media (max-width: 1440px){
  .global-container{
    padding: 0%;
  }
}
@media (max-width: 1024px){
  .side-imgfp{
    width: 512px;
  }
  .info-fp{
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 768px){
  .side-imgfp{
    display: none;
  }
  .main-fp{
    width: 100%;
  }
}
@media (max-width: 425px){
  .titlefp h1{
    font-size: 30px;    
  }
  .titlefp p{
    font-size: 20px;    
  }
  .input-fp{
    font-size: 12px;
  }
  .send-fp{
    font-size: 20px;
  }
  .info-fp h1{
    font-size: 12px;
  }
  .info-fp p{
    font-size: 15px;
  }
  .resend-fp{
    font-size: 20px;
  }
  .footer-left-fp{
    max-width: 60%;
  }
  .footer-right-fp{
    max-width: 40%;
  }
  .title-botfp img{
    width: 20px;
    height: 22px;
  }
  .title-botfp p{
    font-size: 15px;
  }
  .about-textfp{
    font-size: 12px;
  }
  .social-mediafp img{
    width: 20px;
    height: 22px;
  }
  .watermarkfp{
    font-size: 12px;
  }
  .product-listfp{
    font-size: 12px;
  }
  .productfp{
    font-size: 8px;
  }
}
